/*hauteur de l'élement*/
.heighthead {
    -fx-min-height: 50px;
    -fx-max-height: 50px;
}

/*hbox pour l'espacement*/
.root {
    -fx-border-style: solid;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #a9a9a9;
}